<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0" data-widget-sortable="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2> 承运商列表 </h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <!-- 自定义搜索区 -->
                        <div class="widget-body-toolbar" style="height:70px;overflow:hidden;">
                            <form id="frmSearch" role="form" class="smart-form">
                                <div class="global-search-box">
                                    <section class="pull-left no-padding pull-width180" >
                                        <label class="">承运商名称</label>
                                        <label class="input">
                                            <input type="text" class="select2" id="carrier_id" name="carrier_id"/>
                                        </label>
                                    </section>
                                    <section class="pull-left no-padding pull-width120">
                                        <label class="">运输类型</label>
                                        <label class="select">
                                            <select class="input-sm" name="trans_type">
                                                <option value="" selected>-全部-</option>
                                                <option value="整车运输">整车运输</option>
                                                <option value="零担运输">零担运输</option>
                                                <option value="车皮运输" >车皮运输</option>
                                                <option value="铁路快件" >铁路快件</option>
                                                <option value="铁路运输" >铁路运输</option>
                                                <option value="短转运输">短转运输</option>
                                                <option value="航空快件">航空快件</option>
                                                <option value="集装箱运输">集装箱运输</option>
                                                <option value="水路运输">水路运输</option>
                                                <option value="海路运输">海路运输</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="pull-left no-padding pull-width120">
                                        <label class="">审核状态</label>
                                        <label class="select">
                                            <select class="input-sm" name="status">
                                                <option value="" selected>-全部-</option>
                                                <option value="0">未审核</option>
                                                <option value="2">未通过</option>
                                                <option value="1">通过</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="pull-left no-padding pull-width120">
                                        <label class="">是否允许开票</label>
                                        <label class="select">
                                            <select class="input-sm" name="is_invoice">
                                                <option value="" selected>-全部-</option>
                                                <option value="1">允许</option>
                                                <option value="2">不允许</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <div class="global-search-btn" >
                                        <a id="btnSearch" class="btn btn-primary  btn-sm" type="button"><i class="fa fa-search"></i> 查询</a>
                                        <a id="btnMoreSearch" class="btn btn-sm btn-link" type="button" state="open">更多条件</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row padding-10">
                            <!-- 左侧按钮 -->
                            <div class="col-xs-8 col-sm-8">
                                <div class="btn-group">
                                    <a href="javascript:void(0)"  id="editPage"  data-button-resource="E8AFDE432143F4772E0E804DBEAE122E" class="btn btn-default">添加</a>
                                    <a href="javascript:void(0)"  id="showConnectCarrier" data-button-resource="BC331A855F942A94E6EDCD03946CF3F8" class="btn btn-default">关联承运商</a>
                                    <a href="javascript:void(0)"  onclick="edit();"   data-button-resource="025D0CF72CC7EBC7A6A7E67523DB80DD" class="btn btn-default btn-only-one">修改</a>
                                    <a href="javascript:void(0)"  onclick="del();"  data-button-resource="706B84645CAD90A36FF096ADB497A063" class="btn btn-default btn-must-one">删除</a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0)"  onclick="assess();"  data-button-resource="3F897B426DA36509E93887183E5CC915" class="btn btn-default btn-must-one">审核</a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0)"  onclick="G7Set();"  data-button-resource="571D466D3B58E3B9B18EA7832668E3B2" class="btn btn-default btn-only-one">设置G7机构编号</a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0)" data-button-resource="06ED3C99A1D73C2223B1E3AB7EF8E47E" onclick="setDefaultCarrier()" class="btn btn-default">默认结算承运商设置</a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0)"  data-button-resource="276AD7BE7B3250274F54359E067BA7DA" class="btn btn-default btn-only-one">投诉</a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0);" class="btn btn-default"  id="export">导出</a>
                                </div>
                            </div>
                        </div>
                        <table id="tblMain" class="table table-striped table-bordered table-hover has-tickbox">
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->


        </article>
        <!-- WIDGET END -->

    </div>
    <!-- end row -->

</section>
<!-- end widget grid -->
<div class="modal fade" id="remarkListModal1" role="dialog" aria-labelledby="myModalLabels" aria-hidden="falde">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >设置机构</h4>
            </div>
            <div class="modal-body">
                <fieldset class="no-padding">
                    <div class="col  col-xs-12 no-padding">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    机构编码
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" id="g7s_orgcode" name="g7s_orgcode" placeholder="" value=""/>
                                </label>
                            </section>
                        </div>
                        <!--<div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    接口账号
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" id="app_key" name="app_key" placeholder="" value=""/>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    接口账号秘钥
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" id="app_secret" name="app_secret" placeholder="" value=""/>
                                </label>
                            </section>
                        </div>-->
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="G7Set_s()"> <span class="glyphicon glyphicon-floppy-disk"></span> 保存 </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"> 取消 </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remarkListModal" role="dialog" aria-labelledby="myModalLabels" aria-hidden="falde">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabels1">审核</h4>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  你确定审核通过吗？
            <div class="modal-footer">
                <button onclick="change(false)" class="btn btn-default" data-dismiss="modal">
                    不通过
                </button>
                <button onclick="change(true)" class="btn btn-default" data-dismiss="modal">
                    通过
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectCarrier" role="dialog" aria-labelledby="myModalLabels" aria-hidden="falde">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">关联承运商</h4>
            </div>
            <div class="modal-body">
                <fieldset class="no-padding">
                    <div class="col  col-xs-12 no-padding">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    承运商
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text" class="select2" id="carrier"/>
                                </label>
                            </section>

                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    公司合作模式
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input id="bidding2" name="bidding2" type='checkbox'  value="1" >
                                    <i></i><span>竞价</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                  <label class="checkbox">
                                    <input id="fixed_price2" name="fixed_price2" value="1" type="checkbox">
                                    <i></i><span>固定运价</span>
                                </label>
                            </section>
                            <div class=" transType">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    运输类型
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='carload' id='carload2' type='checkbox' value='整车运输'>
                                    <i></i><span>整车运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='break_bulk' id='break_bulk2'  type='checkbox' value='零担运输'>
                                    <i></i><span>零担运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='short'   id='short2' type='checkbox' value='短转运输'>
                                    <i></i><span>短转运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='air'  id='air2' type='checkbox' value='航空快件'>
                                    <i></i><span>航空快件</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='container'  id='container2'  type='checkbox' value='集装箱运输'>
                                    <i></i><span>集装箱运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='wateway'  id='wateway2' type='checkbox' value='水路运输'>
                                    <i></i><span>水路运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='landSea'  id='landSea2' type='checkbox' value='海路运输'>
                                    <i></i><span>海路运输</span>
                                </label>
                            </section>
                                </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="saveConnection()"> <span class="glyphicon glyphicon-floppy-disk"></span> 保存 </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"> 取消 </button>
            </div>
        </div>
    </div>
</div>

<!-- g7机构设置 -->
<div class="modal fade" id="addCarrier" role="dialog" aria-labelledby="添加承运商"  aria-hidden="true" >
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" id="addCarrier_form" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >承运商信息</h4>
            </div>
            <div class="modal-body">
                <fieldset class="no-padding">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row" >
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    承运商名称
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" v-model="carrier_name" name="carrier_name" placeholder="" value=""/>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    社会信用代码
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" name="organizing_code" v-model="organizing_code" placeholder="" onkeyup="this.value=this.value.replace(/[^A-Z|0-9|-]/g,'')"/>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">
                                    公司简称
                                </label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <input type="text" class="form-control" name="carrier_name_s" v-model="carrier_name_s" placeholder="" value=""/>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">公司合作模式</label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='bidding' id='bidding' type='checkbox' value='1'>
                                    <i></i><span>竞价</span>
                                </label>
                            </section>
                            <section class="col col-sm-4">
                                <label class="checkbox">
                                    <input name='fixed_price' id='fixed_price' type='checkbox' value='1'>
                                    <i></i><span>固定运价</span>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row transType">
                            <section class="col col-sm-2">
                                <label class="input state txt-color-red">运输类型</label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input name='carload' id='carload' type='checkbox' value='整车运输'>
                                    <i></i><span>整车运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input name='break_bulk' id='break_bulk' type='checkbox' value='零担运输'>
                                    <i></i><span>零担运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input  id='short' type='checkbox' value='短转运输'>
                                    <i></i><span>短转运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input  id='air' type='checkbox' value='航空快件'>
                                    <i></i><span>航空快件</span>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row transType">
                            <section class="col col-sm-2">
                                <label class="input state txt-color-red"></label>
                            </section>

                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input  id='container' type='checkbox' value='集装箱运输'>
                                    <i></i><span>集装箱运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input id='wateway' type='checkbox' value='水路运输'>
                                    <i></i><span>水路运输</span>
                                </label>
                            </section>
                            <section class="col col-sm-2">
                                <label class="checkbox">
                                    <input id='landSea' type='checkbox' value='海路运输'>
                                    <i></i><span>海路运输</span>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red ">省份</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input state">
                                    <select class="form-control" name="ddlProvince" id="ddlProvince" onchange="selectMoreCity(this)">
                                        <option value="">请选择</option>
                                    </select>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red ">市/区</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <select class="form-control" name="ddlCity" id="ddlCity">
                                        <option value="">请选择</option>
                                    </select>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">代开票</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="select">
                                    <select class="input-sm" v-model="is_invoice" name="is_invoice">
                                        <option value="1" selected>允许</option>
                                        <option value="2">不允许</option>
                                    </select> <i></i>
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">票点数</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text" class="input-sm" style="width:90%;height:auto!important;" v-model="invoice_rate" name="invoice_rate"  placeholder="">
                                </label>%
                            </section>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">业务联系人</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text"  v-model="relation_person" name="relation_person" placeholder="">
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">开票点数</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text" class="input-sm" style="width:90%;height:auto!important;" v-model="real_invoice_rate" name="real_invoice_rate"  placeholder="">
                                </label>%
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state txt-color-red">联系人手机号</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text"  v-model="relation_phone" name="relation_phone" placeholder="">
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state ">传真</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text"  v-model="fax" name="fax" placeholder="">
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state ">联系地址</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text"  v-model="address" name="address" placeholder="">
                                </label>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <section class="col col-sm-4">
                                <label class="input state ">邮编</label>
                            </section>
                            <section class="col col-sm-8">
                                <label class="input">
                                    <input type="text"  v-model="postcode" name="postcode" placeholder="">
                                </label>
                            </section>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" v-on="click:saveCarrier()"  id="updateCarrier"> <span class="glyphicon glyphicon-floppy-disk"></span> 保存 </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" langlanguage="cancel"> 取消 </button>
            </div>
        </div>
    </div>
</div>
<!-- 设置默认承运商 -->
<div class="modal fade" id="remarkListModalc" role="dialog" aria-labelledby="myModalLabels" aria-hidden="falde">
    <div class="modal-dialog" style="width: 300px;">
        <div class="modal-content" >

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabels" style="text-align:left;">默认结算承运商设置</h4>
            </div>
            <div class="modal-body terms-body"  id="" style="text-align:left;">
                    <div class="row">
                        <div id="set"></div>
                        <section class="" style="width:100%;height:auto!important;">
                            <label class="input" >
                                <input type="text" id="default_carrier" class="select2" name="default_carrier" style="width:200px;">
                            </label>
                        </section>
                    </div>
            </div>
            <div class="modal-footer">
                <button onclick="changeCarrier()" class="btn btn-default" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal REMARK -->

<script type="text/javascript" src="js/city.js"></script>
<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();

    // G7初始化页面
    $ips.startup();
</script>
