<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap
	PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="maintain_price">

    <select id="getOneByShpid">
        SELECT * from maintain_price where id =(SELECT max(id) from maintain_price where shipment_id  = #shipmentid#)
    </select>
      
</sqlMap>