<!DOCTYPE html>
<html>
<head>
    <title>投诉列表</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="css/wechat.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/weui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/changeui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font.css">
    <script src="/jquery_weui/lib/jquery-2.1.4.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../jquery_weui/lib/zepto.js"></script>
    <script src="js/wechat.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <style type="text/css">
        .changeui-sign_apply{height: 45px;}
        .have-the-goods-container{height: 100%; overflow: auto; box-sizing: border-box; padding-top: 0.3rem;}
        .changeui-weui-panel{
            height:108px;
        }
    </style>
</head>

<body ontouchstart>
<div class="container">

    <div class="have-the-goods-container">
        <!-- <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>搜索要货单号</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        </div> -->

    </div>
    <div class="changeui-fixed-bottom changeui-sign_apply">
            <a class="weui-btn weui-btn_primary " onclick="appeal()">投诉</a>
    </div>

</div>
<script type="text/template" id="orders-tmpl">
        <% _.each(allOrder,function(item){ %>
        <div class="changeui-weui-panel bid-car-detail-container">
            <div class="changeui-list-inner-item single">
                <span class="text-right text-right-item item">投诉结果：</span>
                <span class="single-right-item item"><%= item.result %></span>
            </div>
            <div class="changeui-list-inner-item single">
                <span class="text-right text-right-item item">投诉时间：</span>
                <span class="single-right-item item"><%= item.create_time %></span>
            </div>
            <div class="changeui-list-inner-item single">
                <span class="text-right text-right-item item">投诉对象：</span>
                <span class="single-right-item item"><%= item.responsible_name %><%= item.responsible_type %></span>
            </div>
            <div class="changeui-list-inner-item single">
                <span class="text-right text-right-item item">投诉内容：</span>
                <span class="single-right-item item"><%= item.content %></span>
            </div>
        </div>
        <% }); %>
    </script>
<script type="text/javascript" src="./js/appeallist.js"></script>
</body>

</html>
