<!DOCTYPE html>
<html>
<head>
    <title>报价</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="css/wechat.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/weui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/changeui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/dialog.css">
    <script src="/jquery_weui/lib/jquery-2.1.4.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../jquery_weui/lib/zepto.js"></script>
    <script src="js/wechat.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/echarts.min.js"></script>
</head>

<body ontouchstart>

<div class="container">

    <div class="bid-car-detail-container wo_quote">


        <div class="changeui-weui-panel no-pad-weui-panel wo_quote_header">
            <div class="wo_quote_header_top" style="display:none;" id="bid">
                <div class="wo_quote_l">
                    <div>倒计时</div>
                    <div class="my_time"></div>
                </div>
                <div class="wo_quote_r">
                    <div>总报价</div>
                    <div class="wo_text_color_ wo_price"></div>
                </div>
            </div>
            <!--一口价-->
            <div class="wo_quote_header_top" style="display:none;" id="fix">
                <div class="wo_quote_l">
                    <div>倒计时</div>
                    <div class="my_time">12:56:32</div>
                </div>
                <div class="wo_quote_r">
                    <div>一口价</div>
                    <div style="color:#FF9234">2100元</div>
                </div>
            </div>
            <!--一口价END-->
            <!-- 竞价每吨 -->
            <div class="wo_quote_header_bottom">
                <div class="form-input-item" style="display:none;" id="dun">
                    <label>
                        <span class="vl-m input-before-font wo_text_color_1">按每吨</span>
                        <input type="tel" id="quote_price_dun"
                               class="changeui-input wo_input_dun"
                               placeholder="请输入数字"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                        <a href="javascript:;"
                           class="weui-btn vl-m weui-btn_primary changeui-weui-btn_primary"
                           style="width:18%; margin-left: 6px; display:inline-block;" onclick="addbid()">报价</a>
                    </label>
                </div>
                
                <input type="hidden" id="openid" name="openid" value="">
                <!-- 竞价整车 -->
                <div class="form-input-item" style="display:none;" id="zhengche">
                    <label>
                        <span class="vl-m input-before-font wo_text_color_1">按每车</span>
                        <input type="tel" id="quote_price_che"
                               class="changeui-input wo_input_zheng"
                               placeholder="请输入数字"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                        <a href="javascript:;"
                           class="weui-btn vl-m weui-btn_primary changeui-weui-btn_primary"
                           style="width:18%; margin-left: 6px; display:inline-block;" onclick="addbid()">报价</a>
                    </label>
                </div>
                <div class="form-input-item">
                    <label>
                        <span class="vl-m input-before-font wo_text_color_1">备注</span>
                        <input type="text" id="quote_remark" name="quote_remark"
                               class="changeui-input"
                               placeholder="输入10字以内" maxlength="10">
                    </label>
                </div>
                <!-- 竞价整车 END-->
                <!-- 一口价 -->
                <div class="form-input-item text-center" style="display:none;" id="fixrice">
                    <label>
                        <a href="javascript:;" id="quit"
                           class="weui-btn vl-m changeui-weui-btn_primary"
                           style="width:8rem; height:2.2rem; margin-right:10px; display:inline-block;background: #f6f6f6 ; border-radius: 5px; color: #202020">放弃</a>
                        <a href="javascript:;" onclick="addfixed()"
                           class="weui-btn vl-m weui-btn_primary changeui-weui-btn_primary"
                           style="width:8rem; height:2.2rem;  margin-left:10px; display:inline-block;background: #FF9234;
border-radius: 5px; border: 0">抢单</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="changeui-weui-panel no-pad-weui-panel" id="tenderMsg">


        </div>
        <script type="text/template" id="orders-tmpl">
        <p class="changeui-list-title" style="margin-bottom:10px;"><span>上期参考价</span>&nbsp;&nbsp;<span><%= jdata.lastQuote? jdata.lastQuote.quote_price  : '暂无报价'%>&nbsp;&nbsp;<%= jdata.lastQuote? jdata.lastQuote.price_type==1 ? '每车':'每吨'  : ''%></span>&nbsp;&nbsp;<span>同期参考价</span>&nbsp;&nbsp;<span><%= jdata.lastYear? jdata.lastYear.quote_price  : '暂无报价'%>&nbsp;&nbsp;<%= jdata.lastYear? jdata.lastYear.price_type==1 ? '每车':'每吨'  : ''%></span></p>
        <p class="changeui-list-title" style="margin-bottom:10px;"><%= jdata.fromlocation+'--'+jdata.tolocation %> <span
                style="color:#125dc7">(<%= jdata.distance %>)公里</span></p>
        <% if(!jQuery.isEmptyObject(jdata.orderRoute)){%>     
        <% _.each(jdata.orderRoute,function(item){ %>
        <p class="changeui-list-title"><em class="ci-font-ico"><%= item.num %></em><%= item.fromlocation+'-'+item.tolocation %>&nbsp;&nbsp;<%= Number(item.weight).toFixed(2) %>吨&nbsp;&nbsp;<%= Number(item.volume).toFixed(2) %>方     <%= (Number(item.quality) > 0)?'&nbsp;&nbsp;'+Number(item.quality).toFixed(0)+'件':''%> </p>
        <% }); %>
        <% } %>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">运输方式：</div>
                    <div class="weui-flex__item"><%= jdata.trans_type %></div>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">车长要求：</div>
                    <div class="weui-flex__item"><%= jdata.car_length!='-'?jdata.car_length:'无要求' %></div>
                </div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">箱型要求：</div>
                    <div class="weui-flex__item"><%= jdata.carriage_type?jdata.carriage_type:'无要求' %></div>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">温度要求：</div>
                    <div class="weui-flex__item"><%= jdata.temperature_from!=null ? jdata.temperature_from+'-'+jdata.temperature_to : '无要求' %></div>
                </div>
            </div>
        </div>

        <!--<div class="changeui-list-inner-item single" id="order_detail_info" onclick="order_detail_info()">
            <span class="text-right text-right-item item">总件数：</span>
            <% if(!jQuery.isEmptyObject(jdata.order_detail)){%>   
                <span class="single-right-item item"><span class="open-dia-mark weui-cell_access" ><%= jdata.order_detail[0].product_name+jdata.order_detail[0].quality+jdata.order_detail[0].unit_name %><span class="weui-cell__ft"></span></span></span>
            <% } %>
        </div>-->

        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">货物重量：</div>
                    <div class="weui-flex__item"><%= jdata.weight %>吨</div>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">货物体积：</div>
                    <div class="weui-flex__item"><%= jdata.volume %>立方米</div>
                </div>
            </div>
        </div>

        <div class="changeui-list-inner-item single">
            <span class="text-right text-right-item item">基地名称：</span>
               
                <span class="single-right-item item">
                   <span class="weui-cell_access"><%= jdata.wareName %></span>
                </span>
            
        </div>
        <div class="changeui-list-inner-item single">
            <span class="text-right text-right-item-3 item">要求到场时间：</span>
               
                <span class="single-right-item-4 item">
                   <span class="weui-cell_access"><%= jdata.package_time %></span>
                </span>
            
        </div>
        <!-- <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">要求到场时间：</div>

                    <div class="weui-flex__item"><%= jdata.package_time %></div>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="weui-flex changeui-list-inner-item">
                    <div class="weui-flex__item text-right text-right-item">基地名称：</div>
                    <div class="weui-flex__item"><%= jdata.wareName %></div>
                </div>
            </div>
        </div> -->

        <div class="changeui-list-inner-item single">
            <span class="text-right text-right-item item">备注：</span>
            <span class="single-right-item item"><%= jdata.remark %></span>
        </div>

        <div class="changeui-signle-line" style="margin-left:10px; margin-right:10px;"></div>
        <p class="changeui-list-title" style="margin-bottom:10px;">历史报价</p>
        <div style="text-align:center;">
            <% if(!jQuery.isEmptyObject(jdata.historyQuote)){%>     
            <% _.each(jdata.historyQuote,function(item){ %>
            <p class="changeui-list-title" style="margin-bottom:10px;"><span><%= item.create_time %></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><%= item.quote_price %>/<%= item.price_type=='1' ? '车'  : '吨'%></span></p>
            <% }); %>
            <% } %>
            <!-- <p class="changeui-list-title" style="margin-bottom:10px;"><span>2012-12-12 13:30:30</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>3000/吨</span></p>
            <p class="changeui-list-title" style="margin-bottom:10px;"><span>2012-12-12 13:30:30</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>3000/吨</span></p>
            <p class="changeui-list-title" style="margin-bottom:10px;"><span>2012-12-12 13:30:30</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>3000/吨</span></p> -->
        </div>
        </script>
        <!--<div id="echartBox"></div>-->
    </div>

    <input type="hidden" name="quote_price" id="quote_price" val="">
</div>
<!--总件数弹框-->
<div class="js_dialog" id="xiangqing" style="display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd dia-verify-detail">
            <strong class="weui-dialog__title">商品详情</strong><br/>
            <div class="weui-flex content">
                <span id="order_detail"></span>
            </div>

        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" onclick="closeDiv()">知道了</a>
        </div>
    </div>
</div>
<!--操作成功弹框-->
<div class="js_dialog" id="chenggong" style="display:none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd ok">
            <!--<div class="dia-font-area"><i class="weui-icon-success weui-icon_msg font-item"></i></div>
            申请签收成功！-->
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="iknow">知道了</a>
        </div>
    </div>
</div>
<!--警告弹框-->
<div class="js_dialog" id="alarm" style="display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd alarm">
            <!--<div class="dia-font-area"><span class="c-iconfont font-item tip-font-ico">&#xe608;</span></div>
            <p>您没有任务在该区域<br/>请查证后再扫描</p>-->
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="back">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="confirm">确定</a>
        </div>
    </div>
</div>
<!--警告弹框提示重复报价会作废之前报价-->
<div class="js_dialog" id="alarm_repeat" style="display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">
            <div class="dia-font-area"><span class="c-iconfont font-item tip-font-ico">&#xe608;</span></div>
            <p>重复报价会作废之前的报价!</p>
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="repeat_back">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="repeat_confirm">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="./js/quote.js"></script>
</body>
<script>
    function getTime(endtime) {
        var nowtime = Date.parse(new Date()) / 1000
        var time = endtime - nowtime
        if (time > 0) {
            var s = time % 60;
            var m = parseInt(time / 60 % 60);
            var h = parseInt(time / 60 / 60);
            if(parseInt(s)<=9){
                s='0'+s;
            }
            if(parseInt(m)<=9){
                m='0'+m;
            }
            if(parseInt(h)<=9){
                h='0'+h;
            }
            var time = h + ":" + m + ":" + s;
            return time
        } else {
            return '竞标过期';
        }
    }
    $(function () {
        $(document).on('keyup', '.wo_input_dun', function () {
            var self = this;
            var reg = /^[0-9]*$/
            if(reg.test(self.value)){
                var tempdun=self.value*dun;
                tempdun = parseFloat(tempdun);
                tempdun = tempdun.toFixed(2);
                $('.wo_price').html(tempdun+'元');
            }
        });
        $(document).on('keyup', '.wo_input_zheng', function () {
            var self = this;
            var reg = /^[0-9]*$/
            if(reg.test(self.value)){
                var totalPrice = parseFloat(self.value).toFixed(2);
                $('.wo_price').html(totalPrice +'元');
            }
        });
        setInterval(function () {
            $('.my_time').html(getTime(tender_limit))
        }, 1000)

        /*var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['邮件营销', '联盟广告']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {}
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['1', '2', '3', '4', '5', '6', '7']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310]
                }
            ]
        };
        var e = echarts.init(document.getElementById('echartBox'));
        e.setOption(option);*/
    })
</script>

</html>

